body {
  font-family: "Oxygen", sans-serif;
}

h1 {
  font-size: 120px;
  margin-top: -25px;
  margin-bottom: -15px;
}

h3 {
  font-size: 30px;
  margin-left: -20px;
}

h6 {
  margin-left: 30px;
}

ul {
  list-style: none;
}

form {
  margin-left: 100px;
}

button {
  border: none;
  background-color: transparent;
  font-size: 22px;
}

button:hover {
  cursor: pointer;
}

.page {
  display: block;
  margin: 175px auto 200px;
  max-width: 950px;
  border: solid 2px black;
  padding: 2em;
}

.units {
  position: relative;
  left: 60px;
  top: 48px;
}

#search-button {
  margin-left: 10px;
  margin-top: -4px;
}

#current-button {
  margin-left: 8px;
  margin-top: -4px;
}
