body {
  font-family: "Oxygen", sans-serif;
  background-size: 1500px;
}

h1 {
  font-size: 120px;
  margin: -25px 0 -15px 0;
}

h3 {
  font-size: 30px;
  margin-left: -20px;
}

h6 {
  margin: 0 0 25px -19px;
}

ul {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  font-size: 22px;
  margin-top: -4px;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
  transition: 0s;
}

a:hover {
  cursor: pointer;
  color: white;
}

p {
  margin: -190px 0 0 245px;
}

.page {
  display: block;
  margin: 100px auto 200px;
  max-width: 950px;
  border: 3px white;
  padding: 2em;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 60px 55px,
    rgba(0, 0, 0, 0.12) 0px -20px 35px, rgba(0, 0, 0, 0.12) 0px 10px 10px,
    rgba(0, 0, 0, 0.17) 0px 20px 20px, rgba(0, 0, 0, 0.09) 0px -10px 10px;
  border-radius: 10px;
}

.units {
  position: relative;
  left: 60px;
  top: 38px;
  font-size: 18px;
}

.color {
  color: #eb6e4c;
}

.celsius {
  margin: 0 0 7px -1px;
}

.fahrenheit {
  margin-top: -3px;
}

.active {
  color: white;
}

.max-min-label {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.high-temp {
  margin-left: 13px;
}

.low-temp {
  margin-left: 55px;
}

.weather-conditions {
  text-align: right;
  margin: -40px 0 80px 50px;
  font-size: 23px;
}

.conditions {
  margin-left: 50px;
}

.wind-conditions {
  margin-left: 0;
}

.forecast-day {
  margin-left: 3px;
  font-size: 20px;
  font-weight: 700;
}

.forecast-weather-max {
  opacity: 80;
  font-weight: bold;
}

.github-link {
  color: blue;
}

.github-link:hover {
  color: blue;
}

#conditions {
  text-transform: capitalize;
}

#search-input {
  border: solid 3px black;
  margin-left: 100px;
  box-shadow: -2px 3px 4px 2px rgba(0, 0, 0, 0.17);
  border-radius: 2px;
}

#search-button {
  margin-left: 10px;
}

#current-button {
  margin-left: 8px;
}

#temp-max {
  margin-left: 23px;
}

#temp-min {
  margin-left: 54px;
}

#forecast {
  margin: 0 -200px 0 70px;
}

#icon {
  margin-left: -3px;
}

@media (min-width: 0px) and (max-width: 399px) {
  body {
    display: block;
    margin: 0 auto;
  }

  h1 {
    margin: -75px 0 0 -85px;
  }

  h3 {
    margin: -40px 0 0 -116px;
  }

  .container-fluid {
    display: block;
    margin: 0 0 0 0;
  }

  .page {
    border: 0px transparent;
    box-shadow: none;
    max-width: 80px;
    margin-top: 35px;
    margin-left: 135px;
  }

  .weather-conditions {
    margin: 75px 0 0 -176px;
    font-size: 20px;
  }

  .humidity {
    margin: -90px 0 0 198px;
  }

  .wind-conditions {
    margin: -30px 0 0 199px;
  }

  .conditions {
    margin-left: 30px;
  }

  .temp-number-row {
    margin: 10px 0 0 -75px;
  }

  .temp-label-row {
    margin: 50px 0 0 -75px;
  }

  .high-temp {
    margin: 0 0 -35px -20px;
    font-size: 22px;
  }

  .low-temp {
    margin-left: 122px;
    font-size: 22px;
  }

  .units {
    margin: -55px 0 0 -30px;
  }

  .bottom-line {
    margin: -160px 0 0 55px;
  }

  #conditions {
    margin-left: 4px;
  }

  #search-input {
    margin: 30px 0 0 -115px;
  }

  #search-button {
    position: relative;
    top: -29px;
    left: 85px;
  }

  #current-button {
    position: relative;
    top: -61px;
    left: 140px;
  }

  #date {
    margin: 25px 0 0 -107px;
    font-size: 25px;
  }

  #temp-max {
    margin-left: -10px;
    font-size: 22px;
  }

  #temp-min {
    margin: -33px 0 0 130px;
    font-size: 22px;
  }

  #forecast {
    margin: 85px -199px 0 -137px;
  }
}

@media (min-width: 400px) and (max-width: 499px) {
  h1 {
    margin: -75px 0 0 -85px;
  }

  h3 {
    margin: -40px 0 0 -116px;
  }

  .container-fluid {
    display: block;
    margin: 0 0 0 0;
  }

  .page {
    border: 0px transparent;
    box-shadow: none;
    max-width: 80px;
    margin-top: 35px;
    margin-left: 135px;
  }

  .weather-conditions {
    margin: 75px 0 0 -176px;
    font-size: 20px;
  }

  .humidity {
    margin: -90px 0 0 228px;
  }

  .wind-conditions {
    margin: -30px 0 0 230px;
  }

  .conditions {
    margin-left: 30px;
  }

  .temp-number-row {
    margin: 10px 0 0 -75px;
  }

  .temp-label-row {
    margin: 50px 0 0 -75px;
  }

  .high-temp {
    margin: 0 0 -35px -45px;
    font-size: 22px;
  }

  .low-temp {
    margin-left: 122px;
    font-size: 22px;
  }

  .units {
    margin: -55px 0 0 -30px;
  }

  .bottom-line {
    margin: -160px 0 0 55px;
  }

  #conditions {
    margin-left: 4px;
  }

  #search-input {
    margin: 30px 0 0 -115px;
  }

  #search-button {
    position: relative;
    top: -29px;
    left: 60px;
  }

  #current-button {
    position: relative;
    top: -61px;
    left: 115px;
  }

  #date {
    margin: 25px 0 0 -110px;
    font-size: 25px;
  }

  #temp-max {
    margin-left: -32px;
    font-size: 22px;
  }

  #temp-min {
    margin: -33px 0 0 130px;
    font-size: 22px;
  }

  #forecast {
    margin: 85px -222px 0 -137px;
  }
}

@media (min-width: 500px) and (max-width: 750px) {
  body {
    display: block;
    margin: 0 auto;
  }

  h1 {
    margin: -75px 0 0 -85px;
  }

  h3 {
    margin: -40px 0 0 -116px;
  }

  .container-fluid {
    display: block;
    margin: 0 0 0 0;
  }

  .page {
    border: 0px transparent;
    box-shadow: none;
    max-width: 80px;
    margin-top: 35px;
    margin-left: 135px;
  }

  .weather-conditions {
    margin: 75px 0 0 -176px;
    font-size: 20px;
  }

  .humidity {
    margin: -90px 0 0 228px;
  }

  .wind-conditions {
    margin: -30px 0 0 230px;
  }

  .conditions {
    margin-left: 30px;
  }

  .temp-number-row {
    margin: 10px 0 0 -75px;
  }

  .temp-label-row {
    margin: 50px 0 0 -75px;
  }

  .high-temp {
    margin: 0 0 -35px -45px;
    font-size: 22px;
  }

  .low-temp {
    margin-left: 122px;
    font-size: 22px;
  }

  .units {
    margin: -55px 0 0 -30px;
  }

  .bottom-line {
    margin: -160px 0 0 55px;
  }

  #conditions {
    margin-left: 4px;
  }

  #search-input {
    margin: 30px 0 0 -115px;
  }

  #search-button {
    position: relative;
    top: -29px;
    left: 60px;
  }

  #current-button {
    position: relative;
    top: -61px;
    left: 115px;
  }

  #date {
    margin: 25px 0 0 -110px;
    font-size: 25px;
  }

  #temp-max {
    margin-left: -10px;
    font-size: 22px;
  }

  #temp-min {
    margin: -33px 0 0 130px;
    font-size: 22px;
  }

  #forecast {
    margin: 85px -222px 0 -137px;
  }
}
